#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
  &kp Q       &kp W       &kp F        &kp P        &kp B      &kp J  &kp L        &kp U        &kp Y       &kp SQT
  &mt LGUI A  &mt LALT R  &mt LCTRL S  &mt LSHFT T  &kp G      &kp M  &mt RSHFT N  &mt RCTRL E  &mt RALT I  &mt RGUI O
  &kp Z       &kp X       &kp C        &kp D        &kp V      &kp K  &kp H        &kp COMMA    &kp DOT     &kp FSLH
  &kp TAB                 &kp ESC      &kp SPACE                      &kp BSPC     &kp DEL                  &kp RET
            >;
        };

        nav {
            bindings = <
  &none     &none     &none      &none      &none      &kp K_REDO  &kp K_PASTE    &kp K_COPY  &kp K_CUT  &kp K_UNDO
  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &none      &kp CAPS    &kp LEFT       &kp DOWN    &kp UP     &kp RIGHT
  &none     &none     &none      &none      &none      &kp INS     &kp HOME       &kp PG_DN   &kp PG_UP  &kp END
  &none               &none      &trans                            &kp BACKSPACE  &kp DELETE             &kp ENTER
            >;
        };
    };
};
