#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
  &kp Q       &kp W       &kp F        &kp P        &kp B      &kp J  &kp L        &kp U        &kp Y       &kp SQT
  &mt LGUI A  &mt LALT R  &mt LCTRL S  &mt LSHFT T  &kp G      &kp M  &mt RSHFT N  &mt RCTRL E  &mt RALT I  &mt RGUI O
  &kp Z       &kp X       &kp C        &kp D        &kp V      &kp K  &kp H        &kp COMMA    &kp DOT     &kp FSLH
  &kp TAB                 &kp ESC      &kp SPACE                      &kp BSPC     &kp DEL                  &kp RET
            >;
        };
    };
};
